

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 140px;
    background-color: black;
}

.div_texto_header {
    border: 3px solid rgb(255, 242, 0);
    border-radius: 25px;
    
    height: 100%;
    max-height: 70px;
    width: 100%;
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 242, 0);

}


.moedas {
    height: 700px;
    width: 100%;

    background:
      linear-gradient(
        rgba(0, 0, 0, 0.72),
        rgba(0, 0, 0, 0.685)
      ),
      url('../ASSETS/imagemdefundo.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    padding: 40px;
}

.moedas img {
    height: 50px;
    width: 50px;
}

.bitcoin {
    border: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 180px;
    width: 27%;
    align-items: center;
    justify-content: center;
}

.titulo_btc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
  .moedas {
    width: 100%;
    height: auto;
  }
    .bitcoin {
    flex: 1 1 100%;
  }
  
}


footer {
    background-color: black;
    color: rgb(255, 242, 0);
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

